body{
	font-family:hervetica;
	font:16px;
	line-height:1.6;
}
.modal{
	display:none;
	position:fixed;
	z-index: 999;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:rgba(1,170,145,0.5);
	background-color: ;
	overflow:auto;
}
.modal-content{
	border-radius:5px;
	margin-top:80px;
	margin-left:400px;
	height:500px;
	width:500px;
	text-align:center;
	box-shadow: 2px 2px 8px #333;
	background-color:white;
	animation-name:bookopen;
	animation-duration:1.7s;
}
.modal-header h2{
	margin:0;
}
.modal-header{
	background-color:#339966;
	color:white;
	font-size:larger;
	padding:5px;
}
.modal-body{
	  margin-top: 30px;
}
.closeBtn{
	font-size:30px;
	color:#ccc;
	float:right;
	margin-right:8px;
	margin-bottom:3px;
	color:#fff;
}
.closeBtn:hover,.closeBtn:focus{
	color:#000;
	text-decoration:none;
	cursor: pointer;
}
.confirmBtn{
	height:25px;
	width:80px;
	border-radius:8px;
	background-color:green;
	color:white;
	cursor:pointer;
	margin-top:20px;
	margin-left:400px;
	border:none;
}
@keyframes bookopen{
	from{opacity:0}
	to{opacity:1}
}
.table-2{
	margin-left:70px;
	margin-bottom:8px;
	height:400px;
}
.but-1{
	background-color:green;
	margin-top:3%;
	border-radius:8px;
	color:#fff;
	border:0;
}
.but-1:hover{
	background-color:coral;
	text-decoration:underline;
	box-shadow:1px 0px 4px 3px skyblue;
}
#book-name,#reach,#cost,#issue-number,#date-output,#publisher,#author-name{
	color:green;
	font-family:sans-serif;
	text-align:left;
	font-size:13px;
}
#continueBtn{
    padding: 1em 4em; 
}
#totalRange{
	font-weight:bold;
}
#editBtn{
    padding: 1em 5.3em; 
}
#total{ 
	color:red;
	text-align:left;
	font-size:13px;
	font-family:impact;
 }
.td-2{
	text-align:left;
	padding-left:12px;
	font-size:15px;
	font-family: sans-serif;
}

